@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

body {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 2em;
  white-space: nowrap;
}
